@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    font-family: Inter;
    margin: 0;
}

body {
    background-color: rgb(241, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    background-color: #F55A5A;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 14.4608px;
    color: white;
}

.app-container {
    width: 550px;
    height: 820px;
    background-color: white;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
}

.card-container {
    display: flex;
}

.imgs-container {
    margin: 45px 19px 36px 40px;
    max-width: 125px;
    height: 168px;
}

.place-img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.location-container {
    margin-top: 64px;
    display: flex;
    margin-bottom: 7px;
}

.country {
    text-transform: uppercase;
    letter-spacing: 1;
    align-self: baseline;
    margin-right: 12px;
}

.country,
.location-url,
.date,
.description {
    font-size: 10.24px;
}

.location-url {
    color: #918E9B;
    align-self: baseline;
}

.text-container {
    padding-right: 40px;
}

.title {
    font-size: 25px;
    margin-bottom: 14px;
}

.date {
    font-weight: bold;
    margin-bottom: 17px;
}

.planet-icon {
    font-size: 35px;
    margin-right: 7px;
}

.location-icon {
    color: #F55A5A;
}